.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20rem;
}

.App-main-content {
  width: 100%;
  max-width: 900px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Margin */
.mx-2 {
  margin-left: 6px;
  margin-right: 6px;
}

/* Flex */
.d-flex { display: flex; }
.flex-column { flex-direction: column; }
.align-items-center { align-items: center; }
.justify-content-center { justify-content: center; }

/* Util */
.no-underline { text-decoration: none; }
.navbar { padding: 16px; }
.h-100 { height: 100%; }
.d-none, .sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .App-main {
    margin: 0 6rem;
  }
}

@media only screen and (max-width: 800px) {
  .App-main {
    margin: 0 2rem;
  }
}
