body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDD0;
  color: black;
}

code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

h1 {
  font-family: cooper-black-std, serif;
  font-style: normal;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-family: 'Courier New';
}

footer {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 100%;
}
